$primary-color: rgb(242, 233, 224);
$primary-light-color: rgb(232, 230, 235);
$secondary-color: rgba(249, 248, 246, 0.983);
$text-color: rgb(11, 6, 7);
$border-color: rgb(239, 237, 243);
$background-color: rgb(249, 248, 246,0.983);
$white-color: rgb(255, 255, 255);
$sm: 0.5rem;
$md: 1rem;
$lg: 1.5rem;

$shadow: 0 8px 32px $primary-light-color;
