$primary-color: rgb(239, 246, 255);
$primary-light-color: rgb(200, 199, 205);
$box-shadow-color:rgb(129, 126, 126);
$secondary-color: rgba(249, 248, 246, 0.983);
$primary-text-color: rgb(91, 137, 254);
$text-color:rgb(11,7,5);
$border-color: rgb(219, 234, 254);
$background-color: rgb(239, 246, 255);
$white-color: rgb(255, 255, 255);
$bold-color:rgb(243, 244, 246);
$sm: 0.5rem;
$md: 1rem;
$lg: 1.5rem;

$shadow: 0 8px 32px $primary-light-color;
