$primary-color: rgb(239, 246, 255);
$primary-light-color: rgb(196, 194, 199);
$secondary-color: rgba(249, 248, 246, 0.983);
$text-color: rgb(11, 6, 7);
$border-color: rgb(219, 234, 254);
$background-color: rgb(239, 246, 255);
$white-color: rgb(255, 255, 255);
$sm: 0.5rem;
$md: 1rem;
$lg: 1.5rem;

$shadow: 0 8px 32px $primary-light-color;
